.App {
  color: white;
}

header form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding: 15px 0;
}
header form input {
  width: 60%;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  max-width: 500px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease all;
}
header form input:focus {
  cursor: auto;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.15);
}

.error {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.error h4 {
  font-size: 2rem;
  margin: 1.9rem;
  text-align: center;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 25px;
  cursor: pointer;
  background: #6a7ca3;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}
